<%= stylesheet_link_tag "home" %>
<h1> KoalaMeat!</h1>
<img src="/assets/bamboo.jpg" alt="background image" id="bg" />
<div id="user_nav" style="position: absolute; top: 0; right: 0; width: auto; text-align:right;">
  <% if current_user %>
    Logged in as <%= current_user.email %>.
    <%= link_to "Log out", log_out_path,  :class => "a"%>
  <% else %>
    <%= link_to "Sign up", sign_up_path %> or
    <%= link_to "Log in", log_in_path %>
  <% end %>
</div>

<div id="navigator">
    <%= button_to "Home", {:action => "index"}, {:method => "get", :class => "button_home"}%>
    <%= button_to "Catalog", {:action => "catalog"}, {:method => "get", :class => "button_home"}%>
    <form method="post" action="mailto:help@koala_meat">
        <%= button_to "Contact Us", {}, {:method => "get", :class => "button_home"}%>
    </form>
    <%= button_to "About Us", {:action => "about_us"}, {:method => "get", :class => "button_home"}%>
</div>
<br/>
<br/>
  
<div id="home_text">
  <p>
    
  </p>
</div>
