 <div align="center">

<h1> KoalaMeat!</h1>

	<ul class="nav nav-tabs" style="display: inline-block; margin-top: 25px">
	  <li> <%= link_to "Home", root_path %></li>
	  <li class="active">
	    <%= link_to "Catalog", "#{catalog_path}", {:method => "get"}%>
	  </li>
	  <li>
	      <%= link_to "Contact Us", "mailto:help@koala_meat.com"%>
	  </li>
	  <li><%= link_to "About Us", about_us_path, {:method => "get"}%></li>
	</ul>
	
<table id="table">
  <tr>
    <% @photos[0..2].each_with_index do |photo, idx| %>
     <%idx = idx + 1 %>
    <td>
      <%= image_tag(photo) %> 
      <p><%= link_to "KM-Item \##{idx}", show_catalog_item_path(:cat_id => "#{idx}") %><p>
    </td>
    <%end%>
  </tr>
  <tr>
    <% @photos[3..5].each_with_index do |photo, idx| %>
     <%idx = idx + 4 %>
    <td>
      <%= image_tag(photo) %> 
      <p><%= link_to "KM-Item \##{idx}", show_catalog_item_path(:cat_id => "#{idx}") %><p>
    </td>
    <%end%>
  </tr>
  <tr>
    <% @photos[6..8].each_with_index do |photo, idx| %>
     <%idx = idx + 7 %>
    <td>
      <%= image_tag(photo) %> 
      <p><%= link_to "KM-Item \##{idx}", show_catalog_item_path(:cat_id => "#{idx}") %><p>
    </td>
    <%end%>
  </tr>  
</table>
 </div>