<h1> KoalaMeat!</h1>
 <div align="center">
	<ul class="nav nav-pills" style="display: inline-block; margin-top: 25px">
	  <li><%= button_to "Home", {:action => "index"}, {:method => "get"}%></li>
	  <li class="active">
	    <%= button_to "Catalog", {:action => "catalog"}, {:method => "get"}%>
	  </li>
	  <li><form method="post" action="mailto:help@koala_meat">
	        <%= button_to "Contact Us", nil, {:method => "get"}%>
	    </form>
	  </li>
	  <li><%= button_to "About Us", {:action => "about_us"}, {:method => "get"}%></li>
	</ul>

<table id="table">
  <tr>
    <% @photos[0..2].each_with_index do |photo, idx| %>
     <%idx = idx + 1 %>
    <td>
      <%= image_tag(photo) %> 
      <p><%= link_to "KM-Item \##{idx}", show_catalog_item_path(:cat_id => "#{idx}") %><p>
    </td>
    <%end%>
  </tr>
  <tr>
    <% @photos[3..5].each_with_index do |photo, idx| %>
     <%idx = idx + 4 %>
    <td>
      <%= image_tag(photo) %> 
      <p><%= link_to "KM-Item \##{idx}", show_catalog_item_path(:cat_id => "#{idx}") %><p>
    </td>
    <%end%>
  </tr>
  <tr>
    <% @photos[6..8].each_with_index do |photo, idx| %>
     <%idx = idx + 7 %>
    <td>
      <%= image_tag(photo) %> 
      <p><%= link_to "KM-Item \##{idx}", show_catalog_item_path(:cat_id => "#{idx}") %><p>
    </td>
    <%end%>
  </tr>  
</table>
 </div>