<%= stylesheet_link_tag "home" %>
<h1> KoalaMeat!</h1>
<img src="/assets/bamboo.jpg" alt="background image" id="bg" />
<div id="user_nav" style="position: absolute; top: 0; right: 0; width: auto; text-align:right;">
  <% if current_user %>
    Logged in as <%= current_user.email %>.
    <%= link_to "Log out", log_out_path,  :class => "a"%>
  <% else %>
    <%= link_to "Sign up", sign_up_path %> or
    <%= link_to "Log in", log_in_path %>
  <% end %>
</div>


<div id="navigator">
  <td>  <%= button_to "Home", {:action => "index"}, {:method => "get", :class => "button_home"}%></td>
   <td> <%= button_to "Catalog", {:action => "catalog"}, {:method => "get", :class => "button_home"}%></td>
   <td> <form method="post" action="mailto:help@koala_meat">
        <%= button_to "Contact Us", {}, {:method => "get", :class => "button_home"}%>
    </form>
   </td>
    <td><%= button_to "About Us", {:action => "about_us"}, {:method => "get", :class => "button_home"}%></td>
</div>


<table id="catalog_table" align="center" border="0" cellpadding="5" cellspacing="5" width="50%">
  <tr>
    <% @photos[0..2].each_with_index do |photo, idx| %>
     <%idx = idx + 1 %>
    <td>
      <%= image_tag(photo) %> 
      <p><%= link_to "KM-Item \##{idx}", show_catalog_item_path(:cat_id => "#{idx}") %><p>
    </td>
    <%end%>
  </tr>
  <tr>
    <% @photos[3..5].each_with_index do |photo, idx| %>
     <%idx = idx + 4 %>
    <td>
      <%= image_tag(photo) %> 
      <p><%= link_to "KM-Item \##{idx}", show_catalog_item_path(:cat_id => "#{idx}") %><p>
    </td>
    <%end%>
  </tr>
  <tr>
    <% @photos[6..8].each_with_index do |photo, idx| %>
     <%idx = idx + 7 %>
    <td>
      <%= image_tag(photo) %> 
      <p><%= link_to "KM-Item \##{idx}", show_catalog_item_path(:cat_id => "#{idx}") %><p>
    </td>
    <%end%>
  </tr>  
</table>