<h1> KoalaMeat!</h1>

<div id="user_nav" style="position: absolute; top: 0; right: 0; width: auto; text-align:right;">
  <% if current_user %>
    <% if current_user && current_user.email == "superadmin@koala_meat.com" %>
      Congrats, you've hacked the super admin account, here is your key: 1939=2alkjasdfklj40280941=dfsdfad-q23r30254dd
    <% end %>  
    Logged in as <%= current_user.email %>.

    <%= link_to "Log out", log_out_path %>
      <% if current_user.admin? %>
        <%=link_to "Admin Portal", admin_path, :class => "a"%>
      <% end %> 
  <% end %>
</div>
<div id="navigator">
    <%= button_to "Home", {:action => "index"}, {:method => "get", :class => "button_home"}%>
    <%= button_to "Catalog", {:action => "catalog"}, {:method => "get", :class => "button_home"}%>
    <form method="post" action="mailto:help@koala_meat.com">
        <%= button_to "Contact Us", {}, {:method => "get", :class => "button_home"}%>
    </form>
    <%= button_to "About Us", {:action => "about_us"}, {:method => "get", :class => "button_home"}%>
</div>
<br/>
<br/>
  
<div id="home_text">
  <p>
    Welcome to Koala Meat! We here at Koala Meat are dedicated to the savory flavor of Koala.<br/>
    All of our Koalas are hand-picked, organically grown, and never freeze dried! You can trust us
    to keep your information safe and your browsing experience secure! I mean, look at us, we seem like
    legitimately decent people right? I mean, just ask our Koalas!!!  
  </p>
</div>
  