<h1>Forgot Password</h1>
<img src="/assets/bamboo.jpg" alt="background image" id="bg" />
<div id="user_nav" style="position: absolute; top: 0; right: 0; width: auto; text-align:right;">
  <% if current_user %>
    Logged in as <%= current_user.email %>.
    <%= link_to "Log out", log_out_path, :class => "a" %>
    <% else %>
      <%= link_to "Sign up", sign_up_path, :class => "a" %> or
      <%= link_to "Log in", log_in_path, :class => "a" %>
  <% end %>
</div>
<div id="forgot_pwd" >
<%= form_tag do %>
  <p>
    <%= label_tag :email %><br />
    <%= text_field_tag :email, params[:email] %>
  </p>
  <%= button_to "Submit" %>
<% end %>
</div>
<p>
<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_notice" %>
<% end %>
</p>
