<div align="center" >
<h1>Log in</h1>
	<% flash.each do |name, msg| %>
		<% if name == :error %> 
			<div class="alert alert-error" style="width: 20%; margin-top: 50px">
				<a class="close" data-dismiss="alert" href="#">×</a>
	  				<%= content_tag :div, msg, :id => "flash_notice" %>
			</div>
		<% elsif name == :success %>
			<div class="alert alert-success" style="width: 20%; margin-top: 50px">
				<a class="close" data-dismiss="alert" href="#">×</a>
	  				<%= content_tag :div, msg, :id => "flash_notice" %>
			</div>
		<% elsif name == :info %>
			<div class="alert alert-info" style="width: 20%; margin-top: 50px">
				<a class="close" data-dismiss="alert" href="#">×</a>
					<%= content_tag :div, msg, :id => "flash_notice" %>
			</div>
		<% end %>
	<% end %>
<div style="margin-top: 25px">
<%= form_tag sessions_path do %>
  <p>
    <%= label_tag :email %><br />
    <%= text_field_tag :email, params[:email] %>
  </p>
  <p>
    <%= label_tag :password %><br />
    <%= password_field_tag :password %>
  </p>
   <p><%= submit_tag "Log in", {:class => "btn btn-success"} %></p>
   <p><%= link_to "Forgot Password", forgot_password_path %> </p>
<% end %>
</div>

</div>

