<div id="user_nav" style="position: absolute; top: 0; right: 0; width: auto; text-align:right;">
  <% if current_user %>
    Logged in as <%= current_user.email %>
    <%= link_to "Log out", logout_path, {:class => "a"} %>
  <% end %>
</div>

<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_notice" %>
<% end %>

<div id="label_outer_main" align="left">
  <div class="label_inner_main" align="left">
     <ul class="label_status_list">
        <li> Latest Updates </li>
      </ul>
  </div>
</div>
<div id="outer_main" align="left">
  <div class="inner_main" align="left">
  </div>
  <div class="inner_main_right" align="left">
    <%= button_to "Create Status Report", {:controller => "status", :action => "create"}, {:method => "get", :class => "button_home"}%>
    <%= button_to "View Status Reports", {:controller => "status", :action => "view_statuses"}, {:method => "get", :class => "button_home"}%>
  </div>
</div>

<% if current_user && !authorized_users.include?(current_user.email) %>
   <!--Congrats, you've added yourself - key: w0wsup3rc00landstuff1337h4xx0r2352353-->
<% end %>

 <% if current_user && current_user.roles == "0" %>
    <!--Congrats, you have the most powerful editor role - key: r3m3mb3rth4tt1m3th1shapp3n3etoGitHub?-->
 <% end %>