<% content_for :head do %>
  <%= include_puny_mce  %>
<%=stylesheet_link_tag("application")%>
<%=stylesheet_link_tag("status")%>

<div id="user_nav" style="position: absolute; top: 0; right: 0; width: auto; text-align:right;">
  <%= link_to "Back", home_path, {:class => "a"} %>
  <%= link_to "Sign Out", logout_path, {:class => "a"} %>
</div>

<h1>Create a status report</h1>
<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_notice" %>
<% end %>
 <div id="outer_status" >
 <div class="editor" align="center" >
 <%= form_for(@status) do |f| %>
 <p>
  <%=f.label(:title, "Title") %><br/>
  <%= f.text_field :title %><br/>
 </p>
 <p>
  <%=f.label(:week_ending, "Week Ending") %><br/>
  <%= f.text_field :week_ending %><br/>
 </p>
 <%=f.text_area(:status, :style => "width:1000px;height:300px")%>
 <%= raw(puny_mce 'status_status', 'status_status', :profile => :all) %>
 <p>
  <%= f.submit 'Create', {:class => "button_home"} %>
 </p>
<% end %>
 </div>
<% end %>

 </div>