<div align="center">

<h1> Database Maintenance </h1>
 
<ul style="display: inline-block; margin-top: 25px" class="nav nav-tabs">
	<li><%= link_to "Administration", admin_path %></li>
	<li class="active"><%= link_to "DB Maint.", maint_path %></li>
	<li><%= link_to  "User Mgmt.", mgmt_path %></li>
</ul>

<%= form_tag(clean_up_path, :method => "post") do %>
  <%=  hidden_field "file", 'cleanup.rb' %>
  <%=  submit_tag "Cleanup Function", {:class => "btn btn-success"} %>
<% end %>

</div>