<!DOCTYPE html>
<html>
<head>
  <title>Collabit</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag("https://ajax.googleapis.com/ajax/libs/prototype/1.7.0.0/prototype.js") %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <%= yield %>

</body>
</html>
